*{
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Fira sans', sans-serif;

}

html, body {
    overflow-x: hidden;
}

body{
    width: max(100%, 280px);
    background-color: #1B191D;
}


.bg-custom {
    background-color: rgb(20, 21, 26);
}

.bg-footer{
    background-color: #2E2B2B;
}

.projects-section {
    background-color: #1B191D;
}

a{
    text-decoration: none;
}

.sec-nosotros {
    background-image: url('../img/Fondo3.jpg');
    background-size: cover !important;
}




/* Mayor a 990 */
@media (min-width: 990px) {

    .navbar-nav a{
        font-size: 25px;
    }

    .sec1
    {

        width: 100% !important;
        height: 100vh;
        overflow:  hidden;
        box-sizing: content-box;
        background-image: url('../img/Fondo1.jpg');
        background-size: cover;
        background-position: center;

    }

    .content h1{
        font-size: 5vh;
        max-width: 19vw;
        color: white;
        text-align: center;
    }

    .textBox{
        margin-top: 9.54vh;
        margin-bottom: min(15.4vh,100px);
        margin-left: 4.5vw;
        color: white;

    }

    .sec2 .content .imagen{
        max-height: 100px;

    }


    /*Novedades Imagenes*/
    .img-fluid{
        border-radius: 50px !important;
    }

    .sec2 p{
        margin-top: 5vw !important;
        margin-bottom: 5vw !important;
        font-size: max(1.5vw,25px);
    }



    .sec-nosotros .titulo{
        padding-top-top: 4vw !important;
        margin-bottom: 4vw !important;
    }

    .content{
        width: 30.11vw;
        height: 57.4vh;
        margin-top: 19.2vh;
        margin-left: 11.1vw;

    }



    .sec1 p {
        font-size: max(2.7vh, 55px) !important;
        color: #707070;
    }


    button {
        border: none;
        color: white;
        padding: 0.8vw 4vw;
        text-align: center;
        text-decoration: none;
        font-size: max(1.5vw, 20px);
        cursor: pointer;
        background-color: #36468F;
        border-radius: 30px;
    }

    .card-body .t-vacio {
        color: white;
    }

    .card-body h1 {
        line-height: 75%;
        font-size: 180px;
    }

    .margen-nov-1{
        padding-top: max(15vh,50px) !important;
        margin-bottom: 10vh !important;
    }

    .margen-nov{
        margin-top: 20vh !important;
        margin-bottom: 15vh !important;
    }

    .plan-section{
        min-width: 100vw;
        background-image: url('../img/Fondo2.jpg') !important;
        background-size: cover;
    }



    .plan-section .titulo {
        padding-top: 8vh !important;
        margin-bottom: 8vh !important;

    }

    .plan-section .t-free{
        margin-bottom: 44px!important;
    }

    .plan-section .row .card {
        border-radius: 5vw !important;
    }

    .plan-section .row .card-body {
        width: max(min(30vw,400px), 400px);
    }

    .plan-section .col {
        margin-bottom: max(5vw, 50px) !important;
    }

    .sec-nosotros h2{
        color: white !important;
        font-size: 2vw !important;
        margin-bottom: 3vw;
    }
    .sec-nosotros a{
        color: white !important;
        font-size: 2vw !important;

    }


    .sec-nosotros h1{
        color: white !important;
        font-size: 3.5vw !important;
    }



    .informacion{
        min-width: 100vw;
        background-image: url('../img/Fondo2.jpg') !important;
        background-size: cover !important;


    }

    .informacion .row .card {

        border-radius: 5vw !important;
        width: max(30vw, 450px) !important;
    }

    .informacion .col{
        margin-top: max(5vw, 50px);
        margin-bottom: max(5vw, 50px);

    }


    .informacion .row .card-body{

        width: 90%;
    }

    h2{
        font-size: 8vh;
    }

    #BasicInfo {
        width: 30rem;
    }





}



/* Menor a 990 */
@media (max-width: 990px) {

    #MainTitle {
        line-height: 5rem;
    }

    .navbar{
        background-color: #1C181F !important;
    }

    .sec1
    {

        min-width: 100vw;
        min-height: 100vh;
        overflow:  hidden;
        box-sizing: border-box;
        background-image: url('../img/Fondo1.jpg');
        background-size: cover;
        background-position: center;

        display: flex;
        justify-content: center;

    }

    .sec1 .content{
        width: 100vw;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        text-align: center;


    }

    .sec1 .content h1{
        padding: 10px;
        font-size: min(max(80px, 10vw), 20vw) !important;
        line-height: 65%;
        color: white;
    }

    .sec1 p {
        font-size: 4vh;
        color: white;

        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    /*Novedades Imagenes*/
    .img-fluid{
        border-radius: 30px !important;
    }

    .sec2 h1{
        font-size: 10vw !important;
    }

    .sec2 p{

        font-size: 6vw !important;
    }



    .textBox{

        color: white;

    }




    button {
        border: none;
        color: white;
        padding: 1vh 5.7vh;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: max(min(4.5vh,24px), 24px);
        cursor: pointer;
        background-color: #36468F;
        border-radius: 20px;
    }


    .card-body h1 {
        line-height: 75%;
        font-size: 180px;
    }

    .margen-nov-1{
        padding-top: max(15vh,50px) !important;
        margin-bottom: 10vh !important;
    }

    .margen-nov{
        margin-top: 10vh !important;
        margin-bottom: 10vh !important;
    }

    .plan-section{
        min-width: 100vw;
        min-height: 100vh;
        background-image: url('../img/Fondo2.jpg') !important;
        background-size: cover;

    }

    .plan-section .t-free{
        margin-bottom: 30px!important;
    }


    .plan-section .titulo {
        padding-top: max(15vh, 50px) !important;
        margin-bottom: 8vh !important;

    }

    .plan-section .row .card {
        width: max(50vw, 300px) !important;
        border-radius: 5vw !important;
    }

    .plan-section .col{
        margin-bottom: max(5vw, 50px) !important;
    }

    .sec-nosotros h2{
        color: white !important;
        font-size: 8vw !important;
    }
    .sec-nosotros a{
        color: white !important;
        font-size: 8vw !important;
    }

    .sec-nosotros h1{
        padding-top: max(10vh, 50px) !important;
        color: white !important;
        font-size: max(12vw,20px) !important;
    }

    .sec-nosotros h2{
        margin-bottom: max(8vw, 20px);
    }



    .informacion{

        background-image: url('../img/Fondo2.jpg') !important;
        background-size: cover;
    }

    .informacion .row .card {
        border: none;
        color: white;
        background: none;
        min-width: 100vw;
    }

    .informacion .row .card-body{
        width: 80%;
        background: none;
    }

    .informacion h2{
        margin-top: max(12vh, 50px) ;
        font-size: max(8vh, 20px);
    }


    footer .container-fluid .row{
        justify-content: center;
        width: 100vw !important;
        display: inline-grid;

    }

    footer .container-fluid .row .col{
        text-align: center;
        width: 100vw !important;

    }



    .footer-copy{
        margin: 0;
        padding: 0;
        border: 0;
        justify-content: center !important;
    }

    .logo-footer{
        display: none !important;
    }



}

.card-body .text-black-50{
    font-size: max(1.5vw,20px) !important;
}

.sec-nosotros h2 a{
    font-size: max(2.5vw,35px) !important;
}

.informacion label{
    font-size: max(1.5vw,20px) !important;;
}

.sec1 p{
    font-size: max(1.5vw,25px) !important;;
}


.logors {
    width: 40px !important;
    margin-right: 10px !important;
}

.boton-Android{
    border-radius: 0 !important;
    min-width: 155px;
    min-height: 50px;
    width: 12vw!important;
    height: 4vw !important;
    background: none;
    background-image: url('../img/D-ANDROID.png') !important;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.boton-IOS{
    border-radius: 0 !important;
    min-width: 155px;
    min-height: 50px;
    width: 12vw!important;
    height: 4vw !important;

    background: none !important;
    background-image: url('../img/D-IOS.png') !important;
    background-position: center !important;
    background-size: cover !important;
    cursor: pointer !important;
}